*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url("../bg.jpg");
    background-position: center;
    background-size: cover;
    height: 120vh;
    position: absolute;
}

.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
    margin-top: 30px;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
    margin-top: 10px;
}

.logo{
    color: #ff7200;
    font-size: 35px;
    font-family: Arial;
    float: left;
    padding-top: 10px;
    margin-top: 25px;
}

.menu{
    width: 400px;
    float: left;
    height: 70px;
    margin-top: 25px;
    
}


ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;

}

ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: #ff7200;
}

.search{
    width: 330px;
    float: left;
    margin-left: 270px;
    margin-top: 25px;
}

.srch{
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid #ff7200;
    margin-top: 13px;
    color: #fff;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.btn{
    width: 100px;
    height: 40px;
    background: #ff7200;
    border: 2px solid #ff7200;
    margin-top: 13px;
    color: #fff;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: 0.2s ease;
    cursor: pointer;
}
.btn:hover{
    color: #000;
}

.btn:focus{
    outline: none;
}

.srch:focus{
    outline: none;
}

::placeholder{
    color: #fff;
    font-family: Arial;
}

.about-1{
    margin: 30px;
    padding: 5px;
}

.about-1 h1{
    position: absolute;
    margin-top: 150px;
    margin-left: 450px;
    text-align: center;
    color:  #ff7200;
    font-weight: bold;
    font-size: 40px;

}

.about-1 p{
    text-align: center;
    margin-top: 200px;
    font-size: 30px;
    padding: 3px;
    color: #fff;
}

.about-item{
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: green;
    padding: 80px,30px;
    box-shadow: 0 0 9px rgba(0,0,0.6);
}

.about-item .ioco{
    font-size: 43px;
    margin-left: 580px;
}
.about-item .ioc{
    font-size: 43px;
    margin-left: 575px;
}
.about-item h3{
    font-size: 25px;
    margin-bottom: 10px;
    margin-left: 545px;

}

.about-item hr{
    width: 46px;
    height: 3px;
    background-color: #000;
    margin: 0 auto;
    border: none;
}

.about-item p{
    margin-top: 20px;
    font-size: 30px;
    margin-left: 30px;

}

.about-item:hover{
    background-color: #5fbff9;
}
/*
.about-1:hover h1{
    color: #fff;
}*/

.about-item:hover i,
.about-item:hover h3,
.about-item:hover p{
    color: #fff;
}

.about-item:hover hr{
    background-color: #fff;
}

.about-item:hover i{
    transform: translateY(-20px);
}

.about-item:hover i,
.about-item:hover h3,
.about-item:hover hr{
    transition: all 400ms ease-in-out;
}